<div class="padded-container enroll">
  <h1>Enrollment</h1>
  <h4 class="booyah">We are now accepting applications for the wait list!</h4>
  <p>You may join the waitlist <em>now</em>, for either the 2017-18 school year, or beyond.</p>
  <p>Print out <a href="media/WaitListForm.pdf" target="_blank">this form</a> and return it, along with a $50 wait list fee per child.</p>
  <a href="media/WaitListForm.pdf" target="_blank"><div class="bigBoxLink">Wait List Form</div></a>

  <h2>Tuition</h2>
  <p>We have set our tuition at $750/month</p>

  <h2>Grades</h2>
  <p>We will begin with K-3, and offer more grades as our students grow.</p>
  <table>
    <tr>
      <th>Year</th>
      <th>Grades</th>
    </th>
    <tr>
      <td>2017-18</td>
      <td>K, 1, 2, 3</td>
    </tr>
    <tr>
      <td>2018-19</td>
      <td>K, 1, 2, 3, 4</td>
    </tr>
    <tr>
      <td>2019-20</td>
      <td>K, 1, 2, 3, 4, 5</td>
    </tr>
    <tr>
      <td>2020-21</td>
      <td>K, 1, 2, 3, 4, 5, 6</td>
    </tr>
  </table>

  <p>This application is not a guarantee of placement at Bluestem Montessori.  Families must still complete an application and interview process to secure placement.  We will begin this application and interview process at a future date.</p>
</div>