<div>
    <ul class="nav">
        <li class="home"><a href="" ng-click="goTo('home')">Home</a></li>
        <li class="method"><a href="" ng-click="goTo('method')">Method</a></li>
        <li class="school"><a href="" ng-click="goTo('school')">School</a></li>
        <li class="enroll"><a href="" ng-click="goTo('enroll')">Enroll</a></li>
        <li class="donate"><a href="" ng-click="goTo('donate')">Donate</a></li>
        <li ><a href="" ng-click="goTo('contact')">Contact</a></li>
        <li class="blog"><a href="http://bluestemmontessori.wordpress.com" target=_blank>Blog</a></li>
    </ul>
</div>
