<div class="padded-container">

    <h1>Now Hiring!</h1>
    <a id="hiring"></a>

    <h3><b>Montessori Lead Teacher</b></h3>
    <p>Bluestem Montessori Elementary School is hiring a Lead Teacher for our Elementary I classroom. This is a rare and exciting opportunity to establish a classroom from the ground up! We are a brand new school, opening in Fall 2017. The successful applicant must be passionate about Montessori education, flexible, and willing to work with the director to establish the direction and culture of the school. Experience is preferred but not required. Applicants must be either AMS or AMI certified or on track to finish their certification by Fall 2018. The successful applicant should also be willing to work with the older students (8-9 year olds) to guide them in their leadership positions, and help the director establish procedures for younger students (K) to prepare them for success in the traditional 6-9 classroom. Comfort with technology is important. 
    </p>

    <p>Bluestem Montessori is a new elementary Montessori school opening in Lincoln for the 2017-18 school year. We will accept students in grades K-3 (ages 5-9) for the first year, and add one grade per year as the children age until we serve students grades K-6 (ages 5-12). We strive to be inclusive and accessible, and to make Montessori education available to all Lincoln families. 
    </p>

    <p>Bluestem Montessori does not discriminate on the basis of race, color, national or ethnic origin, religion, sexual orientation, gender identification, age, or economic status in its hiring practices.</p> 


    <h3>To Apply:</h3>
    <blockquote>
        <p>
            <b>Please send a resume and cover letter to:</b><br/> 
            Bluestem Montessori Elementary School<br/> 
            1837 E St.<br/>
            Lincoln NE 68508<br/>
        </p>

        <p>
            <b>or email it to:</b> laura@bluestemmontessori.com
        </p>

        <p>
            <b>or paste it into</b>  our contact form, <a href="" ng-click="goTo('contact')">here</a>
        </p>
    </blockquote>
</div>
