<div class="padded-container padded-container--dark">
    <h1>A team effort</h1>

    <a id="donate"></a>
    <p>We plan to open our doors in the fall of 2017, but we can't do it alone.  We are raising money to cover start-up costs for the school, and we need your help.</p>

    <h2>Swag</h2>
    <a id="store"></a>
    <p>We have a store at CafePress.  If you'd like to buy a t-shirt or coffee mug to show your love of Bluestem, please do so.</p>
    <a class="button" href="http://www.cafepress.com/bluestem" target="_blank">Bluestem Store at CafePress</a>

    <h2>Donations</h2>
    <p>The amounts below give you some idea of what Montessori materials cost.  Donate that amount and we would be able to afford that thing.</p>
    <div>
        <button ng-click="donate(80000, 'Scholarship', $event)">Scholarship: $800</button>
        <button ng-click="donate(50000, 'Map Set', $event)">Map Set: $500</button>
        <button ng-click="donate(7500, 'Fraction Skittles', $event)">Fraction Skittles: $75</button>
        <button ng-click="donate(4100, 'Leaf Model', $event)">Leaf Model: $41</button>
        <button ng-click="donate(3400, 'Grammar Symbols', $event)">Grammar Symbols: $34</button>
        <button ng-click="donate(2900, 'Squaring Beads', $event)">Squaring Beads: $29</button>
        <button ng-click="donate(1500, 'Division Board', $event)">Division Board: $15</button>
        <button ng-click="donate(500, 'Work Tray', $event)">Work Tray: $5</button>


        <div class="form-group">
            <label>Another amount</label>
            <input type="number" ng-model="amts.customAmt"></input>
            <div class="error" ng-hide="amts.isValid">Please enter an amount</div>
            <button class="donate donate--another" ng-click="donateCustom($event)">Donate</button>
        </div>
    </div>
</div>






