<a href="" ng-click="goTo('hiring')">
    <h1 class="ribbon">
        <strong class="ribbon-content">Now Hiring: Lead Teacher!</strong>
    </h1>
</a>
<div class="squares squares--borderless">
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
        <h2>Montessori elementary in the heart of Lincoln</h2>
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
</div>