<a href="" ng-click="goTo('familynight')">
    <h1 class="ribbon red">
        <strong class="ribbon-content">Come to family information night on Feb. 20!</strong>
    </h1>
</a>
<div class="squares squares--borderless">
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
        <h2>Montessori elementary in the heart of Lincoln</h2>
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
    <div class="square">
    </div>
</div>