<div class="padded-container">
    <h1>A different way to learn</h1>

    <blockquote>It’s about creating an environment where 
    children teach themselves and each other.</blockquote>

    <p>The Montessori Method was developed over 100 years ago by Maria Montessori, and is used in classrooms all over the world.  Children learn in a space overseen and curated by the instructor.  They have the freedom and responsibility to choose their own work and move at their own pace.    The children master concepts by selecting work which is interesting to them and focusing on it for long uninterrupted blocks of time.  When they are ready, they pass on their knowledge to others in their multi-age classroom community.  
    </p>

    <p>There is much more information about Montessori on the web.  One great resource is the <a target="_blank" href="https://amshq.org/">American Montessori Society</a> website.</p>
</div>