.whiteUnderline {
    border-bottom: 1px solid white;
}

.blueUnderline {
    border-bottom: 1px solid $blue;
}

.purpleUnderline {
    border-bottom: 1px solid $purple;
}

.yellowUnderline {
    border-bottom: 1px solid $yellow;
}

.greenUnderline {
    border-bottom: 1px solid $green;
}

.oliveUnderline {
    border-bottom: 1px solid $olive;
}

.darkBrownUnderline {
    border-bottom: 1px solid $dark-brown;
}

.lightBrownUnderline {
    border-bottom: 1px solid $light-brown;
}

.redUnderline {
    border-bottom: 1px solid $red;
}