// .u-3\/4 {
//     width: 74% !important;
// }

// .u-2\/5 {
//     width: 39% !important;
// }

.padded-container{
    padding: $base-spacing-unit;
}
.padded-container--dark {
    h1, h2, h3, h4, h5, h6, p, blockquote, a, ul, li, ol, dd, dt {
        color: white;
    }

    a.button {
        color: white;
        border: 1px solid white;
        border-radius: 4px;
        padding: $base-spacing-unit--small;
        margin-top: $base-spacing-unit--small;
        margin-bottom: $base-spacing-unit;
        margin-left: $base-spacing-unit--small;
        display: inline-block;
        &:hover {
            background: white;
            color: $color-gray-dark;
        }
    }
}
.padded-container--sides-only {
    padding-top: 0;
    padding-bottom: 0;
}
