<!-- header -->
<header class="masthead" ng-include="'app/partials/header.html'"></header>


<!-- Above the fold -->
    <!-- Tagline and Squares-->
<section class="layout">
    <a id="home"></a>
    <div class="layout__item layout__item--no-padding u-1/2 u-1/1-palm" ng-include="'app/partials/tagline.html'"></div><!--
 --><div class="layout__item layout__item--no-padding u-1/2 u-1/1-palm" ng-include="'app/partials/squares.html'"></div>
</section>

<!-- Montessori is ... -->
<!-- Top part --- text -->
<section class="layout layout--yellow">
    <a id="method"></a>
    <div class="layout__item u-4/5 u-1/1-palm" ng-include="'app/partials/whyMontessori.html'"></div><!--
 --><div class="layout__item u-1/5 u-1/1-palm " ></div>
</section>

<!-- Bottom part -- sliders -->


<!-- <Bluestem is different because -->

<section class="layout layout--purple">
    <a id="school"></a>
    <!-- Left side spacer or image -->
    <div class="layout__item u-1/5 u-1/1-palm"></div><!--
    Right side -- text
  --><div class="layout__item u-4/5 u-1/1-palm" ng-include="'app/partials/whyBluestem.html'"></div>
</section>

<!-- Bona Fides -->
<!--<section class="layout">
    <div class="layout__item u-1/1" ng-include="'app/partials/bonaFides.html'"></div>
</section>-->

<!-- Enroll -->
<section class="layout">
    <a id="enroll"></a>
    <div class="layout__item u-1/1" ng-include="'app/partials/enroll.html'"></div>
</section>

<!-- Status -->
<section class="layout donateSection">
    <!-- Status/Donate -->
    <a id="status"></a>
    <div class="layout__item u-1/1 u-1/1-palm" ng-include="'app/partials/statusDonate.html'"></div><!--

   Donate Time
 --><div class="layout__item u-1/1 u-1/1-palm" ng-include="'app/partials/donateTime.html'"></div>
</section>

<!-- Now hiring -->
<section class="layout">
    <a id="hiring"></a>
    <!-- Left side spacer or image -->
    <div class="layout__item u-1/6 u-1/1-palm"></div><!--
    Right side -- text
  --><div class="layout__item u-4/6 u-1/1-palm" ng-include="'app/partials/nowHiring.html'"></div><!--
    Right spacer 
  --><div class="layout__item u-1/6 u-1/1-palm"></div>
</section>

<!-- Contact -->
<section class="layout">
    <a id="contact"></a>
    <div class="layout__item u-5/5" ng-include="'app/partials/contact.html'"></div>
</section>
